In [5]:
n=5
while n>0:
    print(n)
    n=n-1
print('BlastOff!!')
print(n)

5
4
3
2
1
BlastOff!!
0

In [20]:
while True:
    line = input('>')
    if line == 'done' :
        break
    print (line)
print ('Done!')

>sagan
sagan
>done
Done!

In [23]:
while True:
    line = input('>')
    if line[0]=="#":
        continue
    if line == 'done' :
        break
    print (line)
print ('Done!')

>sagan
sagan
>#sagan
>done
Done!

In [24]:
while True:
    line = input('>')
    if line[0]=="#":
        continue
    if line == 'done' :
        break
    while True:
        name=input('... ')
        if name=='':
            break
    print (line)
print ('Done!')

>done
Done!

In [1]:
x=[1,2,3,4]
x

[1, 2, 3, 4]

In [2]:
type(x)

list

In [6]:
for countdown in [5, 4, 3, 2, 1] :
    n=countdown
    while n>0:
        print('.')
        n=n-1
    print (countdown)
print ('Blastoff!')

.
.
.
.
.
5
.
.
.
.
4
.
.
.
3
.
.
2
.
1
Blastoff!

In [31]:
friends=['Aditya','Mahika','Nishad','Alan']
friends.sort()
for friend in friends:
    print('Happy New Year:',friend)
print('Done')

Happy New Year: Aditya
Happy New Year: Alan
Happy New Year: Mahika
Happy New Year: Nishad
Done

In [35]:
#Finding the largest value in a array
largest_so_far = -1
print ('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
    if the_num > largest_so_far :
        largest_so_far = the_num
    print (largest_so_far, the_num)
print ('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [36]:
'''
You are given stock values in an array (365values) of one year:
[1,3,1.5,7 .....]

You can only buy once and then sell once.
You need to find the max profit you can make.
'''

'\nYou are given stock values in an array (365values) of one year:\n[1,3,1.5,7 .....]\n\nYou can only buy once and then sell once.\nYou need to find the max profit you can make.\n'

In [37]:
#counting the elements in an array
zork = 0
print ('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + 1
    print (zork, thing)
print ('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [2]:
#summing up the elements in a array
zork = 0
print ('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + thing
    print (zork, thing)
print ('After', zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

In [4]:
#finding the average of elements in an array
count = 0
sum = 0
print ('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print (count, sum, value)
print ('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [6]:
#filtering in the arrays
print ('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if value > 20:
        print ('Large number',value)
print ('After')

Before
Large number 41
Large number 74
After

In [11]:
#seacrching in arrays using loops
found = False
print ('Before', found)
for value in [9, 41, 12, 3, 74, 15] :
    if value == 3 :
        found = True
   # else:
    #    found=False
    print (found, value)
print ('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [13]:
#Finding the smallest value in the list of elements in the array
smallest = None
print ('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if smallest is None :
        smallest = value
    elif value < smallest :
        smallest = value
    print (smallest, value)
print ('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [19]:
'hello'=="hello"

True

In [2]:
fruit='banana'
letter=fruit[1]
print(letter)

a

In [3]:
x=3
w=fruit[x-1]
print(w)

n

In [4]:
fruit[0]

'b'

In [5]:
for i in range(len(fruit)):
    print(fruit[i])

b
a
n
a
n
a

In [6]:
#To write in one line
import sys
for i in range(len(fruit)):
    sys.stdout.write(fruit[i])

banana

In [7]:
for i in range(0,6,1):
    print(i)

0
1
2
3
4
5

In [8]:
#To write in one line
import sys
sys.stdout.write('Hi ')
sys.stdout.write('there')

Hi there

In [9]:
fruit

'banana'

In [10]:
fruit[6]

IndexError: string index out of range

In [11]:
len(fruit)

6

In [17]:
fruit = 'banana'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print (index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [21]:
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [24]:
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' :
        count=count+1
print (count)

3

In [37]:
s='Monty Pyhton'
s[0:]

'Monty Pyhton'

In [40]:
s[1:2]

'o'

In [42]:
print(s[0:4])
print(s[6:7])
print(s[6:20])
print(s[:2])
print(s[8:])
print(s[:])

Mont
P
Pyhton
Mo
hton
Monty Pyhton

In [52]:
for i in range(1,10):
    sys.stdout.write(str(i))

123456789

In [59]:
i=1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [61]:
'm' in fruit

False

In [62]:
'b'in fruit

True

In [63]:
'a' in fruit

True

In [65]:
'nan' in fruit

True

In [68]:
fruit='banana'

In [69]:
'nan'in fruit

True

In [6]:
x='Hello'
'e' in x

True

In [7]:
def is_vowel(l):
    return l in 'aeiou'
is_vowel('e')

True

In [10]:
word=input('Enter a word')
if word == 'banana':
    print ('All right, bananas.')

if word < 'banana':
    print ('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print ('Your word,' + word + ', comes after banana.')
else:
    print ('All right, bananas.')

Enter a wordSagan
Your word,Sagan, comes before banana.

In [15]:
print('Hi there'.

Hi there

In [19]:
'Apple'<fruit

True

In [21]:
'A'<'a'

True

In [35]:
ord('9')

57

In [36]:
 greet = 'Hello Bob'
 zap = greet.lower()
 print (zap)
 print (greet)
 print ('Hi There'.lower())

hello bob
Hello Bob
hi there

In [44]:
2+3

5

In [46]:
fruit.upper()

'BANANA'

In [47]:
fruit

'banana'

In [66]:
x='My name is Sagan\n'
x.split()

['My', 'name', 'is', 'Sagan']

In [67]:
x.strip()

'My name is Sagan'

In [72]:
fruit.capitalize()

'Banana'

In [25]:
fruit.find('na')

2

In [4]:
fruit.find('aa')

-1

In [10]:
greet='Hello Mahika'
greet1=greet.replace('Mahika','Sagan')
greet1

'Hello Sagan'

In [7]:
greet2=greet1.lower()
greet3=greet1.upper()
print(greet2)
print(greet3)

hello sagan
HELLO SAGAN

In [17]:
" ".join('this is a sentence'.split())

'this is a sentence'

In [20]:
' Hi '.lstrip()

'Hi '

In [21]:
' HI '.rstrip()

' HI'

In [22]:
' Hi '.strip()

'Hi'

In [28]:
greet1.startswith('HellX')

True

In [27]:
greet1

'HellX SXgXn'

In [2]:
fhandle=open("a.txt")

In [3]:
fhandle

In [5]:
fhandle.read()

'1)hi my name is sagan .Thats it.I want to be and astronaut and\n2).Thats it for the day\n3)this file is  made to experiment wit the scope code given in session 1.'

In [13]:
len("X\nY")

3

In [14]:
xfile=open('a.txt')
for cheese in xfile:
    print(cheese)

1)hi my name is sagan .Thats it.I want to be and astronaut and

2).Thats it for the day

3)this file is  made to experiment wit the scope code given in session 1.

In [14]:
#To count the the lines in a file
#fhand = open(input('Enter File name '))
count = 0
with open('/cxldata/datasets/project/mbox-short.txt','r'):
    for line in fhand:
        count = count + 1
print ('Line Count:', count)

Line Count: 1910

In [1]:
#Reading the full file
fhand=open(input('Enter File name= '))
inp=fhand.read()
print(len(inp))

Enter File name= /cxldata/datasets/project/mbox-short.txt
94626

In [63]:
fhand=open(input('enter file name '))
for line in fhand:
    line=line.strip()
    if line.startswith('2'):
        print(line)

enter file name a.txt
2).Thats it for the day
2)this file is  made to experiment with the scope code given in session 1.

In [2]:
fname = input('Enter the file name: ')
try:
    fhand = open(fname)
except:
    print ('File cannot be opened:', fname)
    #exit()

count = 0
for line in fhand:
    if line.startswith('2') :
        count = count + 1
print ('There were', count, 'lines starting with 2 in', fname)

Enter the file name: /cxldata/datasets/project/mbox-short.txt
There were 0 lines starting with 2 in /cxldata/datasets/project/mbox-short.txt

In [5]:
with open('a.txt') as f:
    s=""
    for line in f:
        print(line)
        #s=s+line
    print(s)
    #content=f.read()

1)hi my name is sagan .Thats it.I want to be and astronaut and

2).Thats it for the day

3)this file is  made to experiment with the scope code given in session 1.

In [8]:
with open("a.txt", 'w') as f:
    f.write('''Python is a scripting language
    I am sgan.I am in class 8
    I want to be an astronaut
    So help me''')