In [5]:
#To call any python program 
%run simple.py

12

In [6]:
#To run any other commad like unix
!ls

a.txt				     Session 2.ipynb
cloudxlab_jupyter_notebooks	     Session 3.ipynb
My First file session 0.ipynb	     Session 4.ipynb
Scope Code given in session 1.ipynb  simple.py
Session 1.ipynb

In [7]:
!python simple.py

12

In [9]:
nam = input('Who are you?')
print ('Welcome', nam)

Who are you? Sagan
Welcome  Sagan

In [10]:
inp = input('Europe floor?')
usf = int(inp) + 1
print ('US floor', usf)

Europe floor?2
US floor 3

In [12]:
try:
    pay = float(input("Hours:")) * float(input("Pay:"))
    print(pay)
except:
    print("Wrong Input")

Hours:12
Pay:1
12.0

In [17]:
def addtwo(a, b):
    added = a + b
    return added

x = addtwo(3, 5)
print (x)

8

In [2]:

def ordernums(a, b):
    if a > b:
        return [a,b]
    else:
        return [b,a]
print(ordernums(3,4))
print(ordernums(13,4))

[4, 3]
[13, 4]

In [5]:
#To get square 
def sq(x):return x*x
sq(3)

9

In [7]:
#To get cube,written bymyself
def cu(x):return x*x*x
cu(3)

27

In [7]:
def mymap(a, f):
    retval = []
    for i in a:
        v = f(i)
        retval.append(v)
    return retval

print(mymap([1,2,3], sq))
#print(mymap([1,2,3],cu))
# mymap([1,2,3],print)
#mymap([1,2,3,4],lambda x:x*2)

[1, 4, 9]

In [34]:
sum=lambda x,y:x+y
sum(4,5)

9

In [38]:
mymap([1,2,3,4],lambda x:x*int(input('Multiplier:')))

Multiplier:1
Multiplier:2
Multiplier:3
Multiplier:4

[1, 4, 9, 16]

In [35]:
 n = 5
while n > 0 :
    print (n)
    n = n - 1
print (n)
print ('Blastoff!')

5
4
3
2
1
0
Blastoff!

In [1]:
while True:
    line = input('> ')
    if line == 'done' :
        break
    print (line)
print ('Done!')

> sagan
sagan
> done
Done!

In [11]:
import math

In [1]:
while True:
    line = input('> ')
    if line == 'done' :
        break
    while True:
        name = input("... ")
        if name == "":
            break
    print (line)
print ('Done!')

> SAGAN
...
SAGAN
> SFAAN
... SAG
...
SFAAN
> DONE
... done
...
DONE
> done
Done!

In [3]:
while True:
    line = input('> ')
    if line[0] == '#' : 
        continue
    if line == 'done' :
        break
    print (line)
print ('Done!')

> saganb
saganb
> mahika
mahika
> sudha
sudha
> manjul
manjul
> #
> done
Done!

In [1]:
for item in ["apple", "banana", "eggs", 3, 4, 6.0]:
    print(item)
    print(type(item))

apple
<class 'str'>
banana
<class 'str'>
eggs
<class 'str'>
3
<class 'int'>
4
<class 'int'>
6.0
<class 'float'>

In [1]:
l = []
l.append("first")
l.append("second")
l.append("third")
print(l)

['first', 'second', 'third']

In [2]:
print(l.pop())

third

In [3]:
print(range(4))

range(0, 4)

In [4]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print (c)
print (a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [10]:
t = [9, 41, 12, 3, 74, 15]
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]
[9, 41, 12, 3, 74, 15]

In [14]:
x=list()
type(x)

list

In [15]:
nums = [3, 41, 12, 9, 74, 15]
print (len(nums))
print (max(nums))
print (min(nums))
print (sum(nums))
print (sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [28]:
#finding average-1
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value     
    count = count + 1

average = total / count
print ('Average:', average)

Enter a number: 1
Enter a number: 2
Enter a number: done
Average: 1.5

In [31]:
#finding average-2
numlist = list()
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print ('Average:', average)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: done
Average: 3.0

In [39]:
line = 'A lot               of spaces'
etc = line.split()
print (etc)

['A', 'lot', 'of', 'spaces']

In [40]:
line = 'first;second;third'
thing = line.split()
print (thing)
print (len(thing))
thing = line.split(';')
print (thing)
print (len(thing))

['first;second;third']
1
['first', 'second', 'third']
3

In [7]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)
print(purse['candy'])
purse['candy'] = purse['candy'] + 2
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}
3
{'money': 12, 'candy': 5, 'tissues': 75}

In [12]:
lst = list()
lst.append(21)
lst.append(183)
print(lst)
lst[0] = 23
print(lst)

[21, 183]
[23, 183]

In [13]:
ddd = dict()
ddd['age'] = 21
ddd['course'] = 182
print(ddd)
ddd['age'] = 23
print(ddd)

{'age': 21, 'course': 182}
{'age': 23, 'course': 182}

In [21]:

jjj = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
print(jjj)
print(jjj['chuck'])

ooo = { }
print(ooo)

print(jjj.values())
print(jjj.keys())

{'chuck': 1, 'fred': 42, 'jan': 100}
1
{}
dict_values([1, 42, 100])
dict_keys(['chuck', 'fred', 'jan'])

In [17]:
ccc = dict()
ccc['csev'] = 1
ccc['cwen'] = 1
print(ccc)
ccc['cwen'] = ccc['cwen'] + 1
print(ccc)

{'csev': 1, 'cwen': 1}
{'csev': 1, 'cwen': 2}

In [41]:
counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen', 'csev']
for name in names :
    if name not in counts: 
       counts[name] = 1
    else:
        counts[name] = counts[name] + 1
print(counts)

{'csev': 3, 'cwen': 2, 'zqian': 1}

In [27]:
if name in counts:
    x = counts[name]
else :
    x = 0
print(x)

2

In [32]:
x = counts.get(name, 0)
print(x)

2

In [42]:
counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names :
    counts[name] = counts.get(name, 0)+1 
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [37]:
counts = dict()
line = input('Enter a line of text:')
words = line.split()

print('Words:', words)
print('Counting...')

for word in words:
    counts[word] = counts.get(word,0) + 1
print('Counts', counts)

Enter a line of text:My name is Sgan
Words: ['My', 'name', 'is', 'Sgan']
Counting...
Counts {'My': 1, 'name': 1, 'is': 1, 'Sgan': 1}

In [38]:
counts = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
for key in counts:
    print(key, counts[key])

chuck 1
fred 42
jan 100

In [39]:
print(jjj.keys())
print(jjj.values())
print(jjj.items())

dict_keys(['chuck', 'fred', 'jan'])
dict_values([1, 42, 100])
dict_items([('chuck', 1), ('fred', 42), ('jan', 100)])

In [40]:
jj = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
for name,val in jjj.items():
    print(name, val)

chuck 1
fred 42
jan 100

In [21]:
name = input('Enter file: ')
handle = open(name)
text = handle.read()
words = text.split()

counts = dict()
for word in words:
   counts[word] = counts.get(word,0) + 1

bigcount = None
bigword = None
for word,count in counts.items():
    if bigcount is None or count > bigcount:
        bigword = word
        bigcount = count
print(bigword, bigcount)

Enter file: a.txt
the 103

In [45]:
mybag = {}
mybag['nbooks'] = 1
mybag['pen'] = 5
mybag['laptop'] = True
mybag['nbooks']
if 'laptop' in mybag: print("Bingo")
else: 
    print("Sorry")

Bingo

In [24]:
# Tuples are like lists
x = ('Glenn', 'Sally', 'Joseph')
print(x[2])
y = ( 1, 9, 2 )
print(y)
print(max(y))
print(len(y))

Joseph
(1, 9, 2)
9
3

In [25]:
for iter in y:
    print(iter)

1
9
2

In [29]:
z = (5, 4, 3)
z[2] = 0

TypeError: 'tuple' object does not support item assignment

In [30]:
(x, y) = (4, 'fred')
print(y)
print(x)

(a, b) = (99, 98)
print(a)

fred
4
99

In [31]:
def myf():
    return (1,2,3)

(x, y, z) = myf()
[x, y, z] = (1,2,3)
print(x)
print(y)
print(z)

1
2
3

In [32]:
def swap(l):
    if l[0] > l[1]:
        tmp = l[0]
        l[0] = l[1]
        l[1] = tmp

a = [2, 1]
swap(a)
print(a)

[1, 2]

In [37]:
def order(x,y):
    if x>y:
        return (x,y)
    return (y,x)
(a, b) = order(1, 2)
(x, y) = order(4, 5)
print(a, b, x, y)

2 1 5 4

In [1]:
d = dict()
d['csev'] = 2
d['cwen'] = 4
for (k,v) in d.items(): 
    print(k, v)

csev 2
cwen 4

In [6]:
(1,2,3)<(4,1)

True

In [9]:
tups = d.items()
print(tups)

dict_items([('csev', 2), ('cwen', 4)])

In [10]:
( 'Jones', 'Sally' ) < ('Jones', 'Sam')

True

In [11]:
( 'Jones', 'Sally') > ('Adams', 'Sam')

True

In [12]:
d = {'a':10, 'b':1, 'c':22}
d.items()

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [13]:
t = sorted(d.items())
t

[('a', 10), ('b', 1), ('c', 22)]

In [14]:
for k, v in sorted(d.items()):
    print(k,v)

a 10
b 1
c 22

In [17]:
c = {'a':10, 'b':1, 'c':22}
tmp=list()
for k, v in c.items() :
    tmp.append( (v,k) )
print(tmp)
tmp.sort(reverse=True)
print(tmp)

[(10, 'a'), (1, 'b'), (22, 'c')]
[(22, 'c'), (10, 'a'), (1, 'b')]

In [20]:
a=[1,2,4,6,7]
b=[3,4,5,6,7]
c=[]
for i in range(0,len(a)):
    c.append(a[i]+b[i])
print(c)

[4, 6, 9, 12, 14]

In [36]:
fhand = open('a.txt')
counts = dict()
for line in fhand:
    words = line.split()
    for word in words:
        counts[word] = counts.get(word, 0 )+1
lst = list()
for key, val in counts.items():
    lst.append( (val, key) )

lst.sort(reverse=True)

for val, key in lst[:10] :
    print(key, val)

the 103
a 60
of 47
and 43
to 38
was 29
her 24
with 20
in 20
had 20